@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h3 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
.actions {
  text-align: center;
  margin-top: 20px;
}